$primary: #208db2;

.nav.navbar-nav.navbar-nav li a {
  color: $primary;
}
.bg-light {
    background-color: #C7D6D6 !important;
}

.textcolor {
  color: lightblue;
}

.mycontainer{

  text-align: center;


}
.h1{
    color: white;
}
.App-logo {
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 500px;
  margin-top: 5px;
}

.addpadding {
  padding-right: 20px;
}

#content {
  text-align: center;
  padding-top: 25%;
}

body {
}

.center-height {
  margin-top: 20%;
  margin-bottom: 20%;

}

.mynav {
 width: 100%;
    background: #C7D6D6;
    padding-bottom: 35px;
    padding-top: 25px;
}

.mybtncolor{
  background-color: $primary;
  color: white;
}


.has-danger {
  color:red;

}

.buttonsCenter{

  margin-left: 30%;
  margin-right: 30%;
}

form button {

  margin-left: 20px ;

}


.center_div{
  padding-top: 15%;
  padding-left:40%;
  padding-right:40%;
  position:relative;
  width:100%;
  margin:0 auto;
  float: none;
}

.center_div_btn{
  padding-left: 10%;
  padding-right: 30%;
  position: relative;
  min-width:250px;
  float:none;
  margin:0 auto;
}
